node_modules
bower_components
dist
coverage
playwright-report
test-results
*.tsbuildinfo
*.swa
*.swp
*.swo

.idea/
.DS_Store

.env
.env.*
!.env.example

spec/end_to_end_tests/reports/
src/stylesheets/_featuretoggles.scss
cypress/

.nyc_output

.private.notes

.talismanrc

.vscode/