@import 'layout';
@import 'fonts';

#footer {
  clear: both; 

  .footer-content {
    width: 50%;
    margin: 0 auto;


    p {
      padding-top: 60px;
      font-size: $baseFont;
      font-weight: $baseWeight;
      text-align: center;
    }
  }
}

@if $UIRefresh2022 {
  footer {
    margin-bottom: 40px;
    text-align: center;




    p {

      @include eight-column-layout-margin;
      font-family: $baseFontFamily;
      font-weight: normal;
      margin-top: 80px;
      text-align: center;
      font-size: 16px !important;


      @include media-query-large {
        font-size: 19px !important;
        text-align: center;

      }
    }
  }
}

